parameters:
    level: 5 # You can adjust this level (0-9)
    paths:
        - core
        - src
    bootstrapFiles:
        - vendor/autoload.php
        - core/helpers.php
        - phpstan-bootstrap.php
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false